<p id="notice"><%= notice %></p>

<p>
  <b>Ad:</b>
  <%= @der.ad %>
</p>

<p>
  <b>Kredi:</b>
  <%= @der.kredi %>
</p>

<p>
  <b>Sube:</b>
  <%= @der.sube %>
</p>


<%= link_to 'Edit', edit_der_path(@der) %> |
<%= link_to 'Back', ders_path %>
