<%= form_for(@hoca) do |f| %>
  <% if @hoca.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@hoca.errors.count, "error") %> prohibited this hoca from being saved:</h2>

      <ul>
      <% @hoca.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :ad %><br />
    <%= f.text_field :ad %>
  </div>
  <div class="field">
    <%= f.label :soyad %><br />
    <%= f.text_field :soyad %>
  </div>
  <div class="field">
    <%= f.label :unvan %><br />
    <%= f.text_field :unvan %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
