<h1>Listing hocas</h1>

<table>
  <tr>
    <th>Ad</th>
    <th>Soyad</th>
    <th>Unvan</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @hocas.each do |hoca| %>
  <tr>
    <td><%= hoca.ad %></td>
    <td><%= hoca.soyad %></td>
    <td><%= hoca.unvan %></td>
    <td><%= link_to 'Show', hoca %></td>
    <td><%= link_to 'Edit', edit_hoca_path(hoca) %></td>
    <td><%= link_to 'Destroy', hoca, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Hoca', new_hoca_path %>
