<p id="notice"><%= notice %></p>

<p>
  <b>Ad:</b>
  <%= @hoca.ad %>
</p>

<p>
  <b>Soyad:</b>
  <%= @hoca.soyad %>
</p>

<p>
  <b>Unvan:</b>
  <%= @hoca.unvan %>
</p>


<%= link_to 'Edit', edit_hoca_path(@hoca) %> |
<%= link_to 'Back', hocas_path %>
