<script type="text/javascript">
  $(function () {
    $("[id='tool']").tooltip();
  });
</script>
<% content_for :menu do %>
  <ul class="nav nav-list extramenu">
    <li class="nav-header">İşlemler</li>
    <li>Ders</li>
    <li><%= link_to "Akademisyen", odeme_akademists_path %></li>
    <li><%= link_to "Program", odeme_programs_path %></li>
    <li class="divider"></li>
    <li><%= link_to "Açılan Program", odeme_aprograms_path %></li>
    <li><%= link_to "Açılan Ders", odeme_programs_path %></li>
  </ul>
<% end %>

<% @unvan = { 2 =>'Dr.', 3 =>'Yrd.Doc.Dr.', 4 => 'Doc.', 5 => 'Prof.'} %>

<h4 class="pull-left">Akademik Personel</h4><br />
<p class="pull-right"><%= link_to "Akademisyen Ekle", new_odeme_akademist_path %></p>
<table class="table table-hover">
  <tr>
    <th></th>
    <th>Ad</th>
    <th>Soyad</th>
    <th>Unvan</th>
    <th>Katsayı</th>
    <th>Ödenecek Miktar</th>
    <th></th>
    <th></th>
  </tr>

<% @odeme_akademists.each_with_index do |odeme_akademist,i| %>
  <tr>
    <td><%= i+1 %></td>
    <td><%= odeme_akademist.ad %></td>
    <td><%= odeme_akademist.soyad %></td>
    <td><%= @unvan[odeme_akademist.unvan.to_i] %></td>
    <td><%= @katsayi = odeme_akademist.unvan.to_i * Lecture.find(odeme_akademist.lecture_id).kredi.to_i %></td>
    <td><%= @katsayi*100%></td>
    <td><%= link_to '', odeme_akademist, :class => "icon-check", :id => "tool", :title => "Akademisyen Bilgilerini Görüntüle" %></td>
    <td><%= link_to '', edit_odeme_akademist_path(odeme_akademist), :class => "icon-pencil", :id => "tool", :title => "Akademisyen Bilgilerini Düzenle" %></td>
  </tr>
<% end %>
</table>

<br />
