<% content_for :menu do %>
  <ul class="nav nav-list extramenu">
    <li class="nav-header">İşlemler</li>
    <li><%= link_to "Programlar", odeme_programs_path %></li>
    <li><%= link_to "Program Ekle", new_odeme_program_path %></li>
    <li><%= link_to "Akademisyen", odeme_akademists_path %></li>
    <li><%= link_to "Akademisyen Ekle", new_odeme_akademist_path %></li>
  </ul>
<% end %>

<h4>Akademik Personel</h4>
<table class="table table-hover">
  <tr>
    <th></th>
    <th>Ad</th>
    <th>Soyad</th>
    <th>Unvan</th>
    <th>Katsayı</th>
    <th>Ödenecek Miktar</th>
    <th></th>
    <th></th>
  </tr>

<% @odeme_akademists.each_with_index do |odeme_akademist,i| %>
  <tr>
    <td><%= i+1 %></td>
    <td><%= odeme_akademist.ad %></td>
    <td><%= odeme_akademist.soyad %></td>
    <td><%= odeme_akademist.unvan %></td>
    <td></td>
    <td></td>
    <td><%= link_to 'Show', odeme_akademist %></td>
    <td><%= link_to 'Edit', edit_odeme_akademist_path(odeme_akademist) %></td>
  </tr>
<% end %>
</table>

<br />
