<% content_for :menu do %>
  <ul class="nav nav-list">
    <li class="nav-header">İşlemler</li>
    <li><%= link_to "Programlar", odeme_programs_path %></li>
    <li><%= link_to "Program Ekle", new_odeme_program_path %></li>
    <li><%= link_to "Akademisyen", odeme_akademists_path %></li>
  </ul>
<% end %>
<p id="notice"><%= notice %></p>

<p>
  <b>Ad:</b>
  <%= @odeme_akademist.ad %>
</p>

<p>
  <b>Soyad:</b>
  <%= @odeme_akademist.soyad %>
</p>

<p>
  <b>Unvan:</b>
  <%= @odeme_akademist.unvan %>
</p>

<p>
  <b>Lecture:</b>
  <%= @odeme_akademist.lecture %>
</p>


<%= link_to 'Edit', edit_odeme_akademist_path(@odeme_akademist) %> |
<%= link_to 'Back', odeme_akademists_path %>
