<% content_for :script do %>
  <script>
	$(document).ready(function() {

		var date = new Date();
		var d = date.getDate();
		var m = date.getMonth();
		var y = date.getFullYear();

		$('#calendar').fullCalendar({
			theme: true,
			header: {
				left: 'prev,next today',
				center: 'title',
				right: 'month,agendaWeek,agendaDay'
                              },
			editable: true,
                        events: [
                      {
                        title: 'Deneme',
                        start: '2013-05-05'
                      }
			]
		});
	});

  </script>
<% end %>

<% content_for :css do %>
  <style>

	body {
		margin-top: 10px;
		font-size: 13px;
		font-family: "Lucida Grande",Helvetica,Arial,Verdana,sans-serif;
		}

	#calendar {
		width: 900px;
		margin: 0 auto;
		}

  </style>
<% end %>

<% content_for :menu do %>
  <ul class="nav nav-list">
    <li class="nav-header">İşlemler</li>
    <li><%= link_to "Programlar", odeme_programs_path %></li>
    <li><%= link_to "Program Ekle", new_odeme_program_path %></li>
    <li><%= link_to "Akademisyen", odeme_akademists_path %></li>
    <li><%= link_to "Akademisyen Ekle", new_odeme_akademist_path %></li>
  </ul>
<% end %>
<p id="notice"><%= notice %></p>

<% @unvan = { 2 =>'Dr.', 3 =>'Yrd.Doc.Dr.', 4 => 'Doc.', 5 => 'Prof.'} %>
<table class="table table-striped">
  <tr>
    <th>Ad</th>
    <td><%= @odeme_akademist.ad %></td>
  </tr>
  <tr>
    <th>Soyad:</th>
    <td><%= @odeme_akademist.soyad %></td>
  </tr>
  <tr>
    <th>Ünvan:</th>
    <td><%= @unvan[@odeme_akademist.unvan.to_i] %></td>
  </tr>
  <tr>
    <th>Verdiği Ders:</th>
    <td><%= @odeme_akademist.lecture.ad %></td>
  </tr>
  <%= form_for([@odeme_akademist,@odeme_akademist.takvims.build]) do |f| %>
    <tr>
      <th>Ders Tarihi:</th>
      <td><%= f.date_select :tarih %></td>
    </tr>
    <tr>
      <th>Ders İşleme Durumu:</th>
      <td><%= f.check_box :islem %></td>
      <td><%= f.submit %></td>
    </tr>
  <% end %>
</table>

<div id='calendar'></div>
