<p id="notice"><%= notice %></p>

<p>
  <b>Ad:</b>
  <%= @odeme_akademist.ad %>
</p>

<p>
  <b>Soyad:</b>
  <%= @odeme_akademist.soyad %>
</p>

<p>
  <b>Unvan:</b>
  <%= @odeme_akademist.unvan %>
</p>

<p>
  <b>Lecture:</b>
  <%= @odeme_akademist.lecture %>
</p>


<%= link_to 'Edit', edit_odeme_akademist_path(@odeme_akademist) %> |
<%= link_to 'Back', odeme_akademists_path %>
