<p id="notice"><%= notice %></p>

<p>
  <b>Ad:</b>
  <%= @program.ad %>
</p>

<p>
  <b>Donem:</b>
  <%= @program.donem %>
</p>

<p>
  <b>Katsayi:</b>
  <%= @program.katsayi %>
</p>


<%= link_to 'Edit', edit_program_path(@program) %> |
<%= link_to 'Back', programs_path %>
