<% content_for :menu do %>
  <ul class="nav nav-list">
    <li class="nav-header">İşlemler</li>
    <li><%= link_to "Programlar", odeme_programs_path %></li>
    <li><%= link_to "Program Ekle", new_odeme_program_path %></li>
    <li><%= link_to "Akademisyen", odeme_akademists_path %></li>
    <li><%= link_to "Akademisyen Ekle", new_odeme_akademist_path %></li>
  </ul>
<% end %>

<%= form_for(@odeme_program) do |f| %>
  <% if @odeme_program.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@odeme_program.errors.count, "error") %> prohibited this odeme_program from being saved:</h2>

      <ul>
      <% @odeme_program.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <table class="table table-striped">
    <tr>
      <td>
        <%= f.label :ad, "Program Adı" %><br />
        <%= f.text_field :ad %>
      </td>
      <td>
        <%= f.label "Dönem" %><br />
        <%= f.date_select :donem %>
      </td>
      <td>
        <%= f.label "Katsayı" %><br />
        <%= f.text_field :katsayi %>
      </td>
      <td>
        <%= f.submit %>
      </td>
    </tr>
  </table>
  <hr>
<% end %>
