<script type="text/javascript">
  $(function () {
    $("[id='tool']").tooltip();
  });
</script>
<% content_for :menu do %>
  <ul class="nav nav-list extramenu">
    <li class="nav-header">İşlemler</li>
    <li><%= link_to "Programlar", odeme_programs_path %></li>
    <li><%= link_to "Program Ekle", new_odeme_program_path %></li>
    <li><%= link_to "Akademisyen", odeme_akademists_path %></li>
    <li><%= link_to "Akademisyen Ekle", new_odeme_akademist_path %></li>
  </ul>
<% end %>

<h4>Programlar</h4>
<table class="table table-hover">
  <tr>
    <th></th>
    <th>Ad</th>
    <th>Donem</th>
    <th>Katsayi</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @odeme_programs.each_with_index do |odeme_program,i| %>
  <tr>
    <td><%= i+1 %></td>

    <td><%= odeme_program.ad %></td>
    <td><%= odeme_program.donem %></td>
    <td><%= odeme_program.katsayi %></td>
    <td><%= link_to '', odeme_program, :class => 'icon-check', :title => "Göster", :id => "tool" %></td>
    <td><%= link_to '', edit_odeme_program_path(odeme_program), :class => 'icon-pencil', :title => "Düzenle", :id => "tool" %></td>
    <td><%= link_to '', odeme_program, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'icon-cancel', :title => "Sil", :id => "tool" %></td>
  </tr>
<% end %>
</table>
