<script type="text/javascript">
  $(function () {
    $("[id='tool']").tooltip();
  });
</script>
<% content_for :menu do %>
  <ul class="nav nav-list extramenu">
    <li class="nav-header">İşlemler</li>
    <li>Ders</li>
    <li><%= link_to "Akademisyen", odeme_akademists_path %></li>
    <li><%= link_to "Program", odeme_programs_path %></li>
    <li class="divider"></li>
    <li><%= link_to "Açılan Program", odeme_aprograms_path  %></li>
    <li><%= link_to "Açılan Ders", odeme_programs_path %></li>
  </ul>
<% end %>

<% if notice %>
  <br /><br />
  <div class="alert alert-error">
    <p class="notice"><%= notice %></p>
  </div>
<% end %>
<h4 class="pull-left">Programlar</h4><br />
<p class="pull-right"><%= link_to "Program Ekle", new_odeme_program_path %></p>
<table class="table table-hover">
  <tr>
    <th></th>
    <th>Ad</th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @odeme_programs.each_with_index do |odeme_program,i| %>
  <tr>
    <td><%= i+1 %></td>

    <td><%= odeme_program.ad %></td>
    <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
    <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
    <td><%= link_to '', odeme_program, :class => 'icon-calendar', :title => "Dönem Ekle", :id => "tool" %></td>
    <td><%= link_to '', odeme_program, :class => 'icon-user', :title => "Koordinatör Ekle", :id => "tool" %></td>
    <td><%= link_to '', odeme_program, :class => 'icon-book', :title => "Ders Ekle", :id => "tool" %></td>
    <td><%= link_to '', edit_odeme_program_path(odeme_program), :class => 'icon-pencil', :title => "Programı Düzenle", :id => "tool" %></td>
    <td><%= link_to '', odeme_program, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'icon-cancel', :title => "Programı Sil", :id => "tool" %></td>
  </tr>
<% end %>
</table>
