<% content_for :menu do %>
  <ul class="nav nav-list">
    <li class="nav-header">İşlemler</li>
    <li><%= link_to "Programlar", odeme_programs_path %></li>
    <li><%= link_to "Program Ekle", new_odeme_program_path %></li>
    <li><%= link_to "Akademisyen", odeme_akademists_path %></li>
  </ul>
<% end %>

<h4>Programlar</h4>
<%= link_to 'Yeni Program', new_odeme_program_path, class:"btn" %>
<br />
<br />
<table class="table table-hover">
  <tr>
    <th>Ad</th>
    <th>Donem</th>
    <th>Katsayi</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @odeme_programs.each do |odeme_program| %>
  <tr>
    <td><%= odeme_program.ad %></td>
    <td><%= odeme_program.donem %></td>
    <td><%= odeme_program.katsayi %></td>
    <td><%= link_to 'Show', odeme_program %></td>
    <td><%= link_to 'Edit', edit_odeme_program_path(odeme_program) %></td>
    <td><%= link_to 'Destroy', odeme_program, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>
