<% content_for :menu do %>
  <ul class="nav nav-list">
    <li class="nav-header">İşlemler</li>
    <li><%= link_to "Programlar", odeme_programs_path %></li>
    <li><%= link_to "Program Ekle", new_odeme_program_path %></li>
    <li><%= link_to "Akademisyen", odeme_akademists_path %></li>
    <li><%= link_to "Akademisyen Ekle", new_odeme_akademist_path %></li>
  </ul>
<% end %>

<p id="notice"><%= notice %></p>

<div class="accordion" id="accordion2">
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseThree">
        <b>Program Bilgileri</b>
      </a>
    </div>
    <div id="collapseThree" class="accordion-body collapse in">
      <div class="accordion-inner">
	<p>
	  <b>Ad:</b>
	  <%= @odeme_program.ad %>&nbsp;&nbsp;&nbsp;&nbsp;
    	  <b>Donem:</b>
	  <%= @odeme_program.donem %>&nbsp;&nbsp;&nbsp;&nbsp;
	  <b>Katsayi:</b>
	  <%= @odeme_program.katsayi %>
          </p>
          <br />
        <h4>Koordinatörler</h4>
	<table class="table table-striped">
          <tr>
            <th></th>
            <th>Koordinator</th>
            <th>Kurum</th>
            <th>Akademik</th>
            <th>Enstitü</th>
          </tr>
          <% @odeme_program.koordinators.each_with_index do |i,f| %>
            <tr>
              <td><%= f+1 %></td>
              <td></td>
              <td><%= i.kurum %></td>
              <td><%= i.akademik %></td>
              <td><%= i.enstitu %></td>
            </tr>
          <% end %>
        </table>
        <h4>Dersler</h4>
        <table class="table table-striped">
          <tr>
            <th></th>
            <th>Ders Adı</th>
            <th>Kredi</th>
            <th>Şube</th>
            <th>Akademik Personel</th>
          </tr>
          <% @odeme_program.lectures.each_with_index do |i,f| %>
            <tr>
              <td><%= f+1 %></td>
              <td><%= i.ad %></td>
              <td><%= i.kredi %></td>
              <td><%= i.sube %></td>
              <td></td>
            </tr>
          <% end %>
        </table>
      </div>
    </div>
  </div>
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
        <b>Koordinatör Ekleyin</b>
      </a>
    </div>
    <div id="collapseOne" class="accordion-body collapse">
      <div class="accordion-inner">
        <%= form_for([@odeme_program, @odeme_program.koordinators.build]) do |f| %>
          <table class="table table-striped">
            <tr>
              <td>
                <%= f.label :kurum %><br />
                <%= f.text_field :kurum %>
              </td>
              <td>
                <%= f.label :akademik %><br />
                <%= f.text_field :akademik %>
              </td>
              <td>
                <%= f.label :enstitu %><br />
                <%= f.text_field :enstitu %>
              </td>
            </tr>
          </table>
          <%= f.submit %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
        <b>Ders Ekleyin</b>
      </a>
    </div>
    <div id="collapseTwo" class="accordion-body collapse">
      <div class="accordion-inner">
        <%= form_for([@odeme_program, @odeme_program.lectures.build]) do |f| %>
          <table class="table table-striped">
            <tr>
              <td>
                <%= f.label :ad %><br />
                <%= f.text_field :ad %>
              </td>
              <td>
                <%= f.label :kredi %><br />
                <%= f.text_field :kredi %>
              </td>
              <td>
                <%= f.label :sube %><br />
                <%= f.text_field :sube %>
              </td>
            </tr>
          </table>
          <%= f.submit %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<%= link_to 'Geri Dön', odeme_programs_path %>
