<p id="notice"><%= notice %></p>

<p>
  <b>Ad:</b>
  <%= @odeme_program.ad %>
</p>

<p>
  <b>Donem:</b>
  <%= @odeme_program.donem %>
</p>

<p>
  <b>Katsayi:</b>
  <%= @odeme_program.katsayi %>
</p>


<%= link_to 'Edit', edit_odeme_program_path(@odeme_program) %> |
<%= link_to 'Back', odeme_programs_path %>
