<% content_for :menu do %>
  <ul class="nav nav-list">
    <li class="nav-header">İşlemler</li>
    <li><%= link_to "Programlar", odeme_programs_path %></li>
    <li><%= link_to "Program Ekle", new_odeme_program_path %></li>
    <li><a href="#">Akademisyen</a></li>
  </ul>
<% end %>

<p id="notice"><%= notice %></p>

<p>
  <b>Ad:</b>
  <%= @odeme_program.ad %>
</p>

<p>
  <b>Donem:</b>
  <%= @odeme_program.donem %>
</p>

<p>
  <b>Katsayi:</b>
  <%= @odeme_program.katsayi %>
</p>

<%= form_for([@odeme_program, @odeme_program.koordinators.build]) do |f| %>
  <div class="field">
    <%= f.label :kurum %><br />
    <%= f.text_field :kurum %>
  </div>
  <div class="field">
    <%= f.label :akademik %><br />
    <%= f.text_field :akademik %>
  </div>
  <div class="field">
    <%= f.label :enstitu %><br />
    <%= f.text_field :enstitu %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<%= form_for([@odeme_program, @odeme_program.lectures.build]) do |f| %>
  <div class="field">
    <%= f.label :ad %><br />
    <%= f.text_field :ad %>
  </div>
  <div class="field">
    <%= f.label :kredi %><br />
    <%= f.text_field :kredi %>
  </div>
  <div class="field">
    <%= f.label :sube %><br />
    <%= f.text_field :sube %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<%= link_to 'Edit', edit_odeme_program_path(@odeme_program) %> |
<%= link_to 'Back', odeme_programs_path %>
