<% content_for :menu do %>
  <ul class="nav nav-list extramenu">
    <li class="nav-header">İşlemler</li>
    <li><%= link_to "Akademisyen", odeme_akademists_path %></li>
    <li><%= link_to "Programlar", odeme_programs_path %></li>
    <li class="divider"></li>
    <li></li>
  </ul>
<% end %>

<p id="notice"><%= notice %></p>

<div class="accordion" id="accordion2">
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseThree">
        <b>Program Bilgileri</b>
      </a>
    </div>
    <div id="collapseThree" class="accordion-body collapse in">
      <div class="accordion-inner">
	<p>
	  <b>Ad:</b>
          <b>Donem:</b>
	  <b>Katsayi:</b>
          </p>
          <br />
        <h4>Koordinatörler</h4>
	<table class="table table-striped">
          <tr>
            <th></th>
            <th>Koordinator</th>
            <th>Kurum</th>
            <th>Akademik</th>
            <th>Enstitü</th>
          </tr>
          <% @odeme_program.koordinators.each_with_index do |i,f| %>
            <tr>
              <td><%= f+1 %></td>
              <td></td>
              <td><%= i.kurum %></td>
              <td><%= i.akademik %></td>
              <td><%= i.enstitu %></td>
            </tr>
          <% end %>
        </table>
        <h4>Dersler</h4>
        <table class="table table-striped">
          <tr>
            <th></th>
            <th>Ders Adı</th>
            <th>Kredi</th>
            <th>Şube</th>
            <th>Akademik Personel</th>
          </tr>
          <% @odeme_program.lectures.each_with_index do |i,f| %>
            <tr>
              <td><%= f+1 %></td>
              <td><%= i.ad %></td>
              <td><%= i.kredi %></td>
              <td><%= i.sube %></td>
              <td></td>
            </tr>
          <% end %>
        </table>
      </div>
    </div>
  </div>
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
        <b>Koordinatör Ekleyin</b>
      </a>
    </div>
    <div id="collapseOne" class="accordion-body collapse">
      <div class="accordion-inner">
        <p>Lütfen aşağıdaki boş alanları doldurunuz.</p>
        <%= form_for([@odeme_program, @odeme_program.koordinators.build]) do |f| %>
          <table class="table table-striped">
            <tr>
              <td>
                <%= f.text_field :kurum, placeholder: "Kurum Koordinatörü" %>
              </td>
              <td>
                <%= f.text_field :akademik, placeholder: "Akademik Koordinatör" %>
              </td>
              <td>
                <%= f.text_field :enstitu, placeholder: "Enstitü Koordinatörü" %>
              </td>
            </tr>
          </table>
          <%= f.submit %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
        <b>Ders Ekleyin</b>
      </a>
    </div>
    <div id="collapseTwo" class="accordion-body collapse">
      <div class="accordion-inner">
        <h6>Formu doldularak ders ekleyin</h6>
        <p>Lütfen aşağıdaki boş alanları doldurunuz.</p>
        <%= form_for([@odeme_program, @odeme_program.lectures.build], multipart: true) do |f| %>
          <table class="table table-striped">
            <tr>
              <td>
                <%= f.text_field :ad, placeholder:"Ad" %>
              </td>
              <td>
                <%= f.text_field :kredi, placeholder:"Kredi" %>
              </td>
              <td>
                <%= f.text_field :sube, placeholder: "Şube" %>
              </td>
            </tr>
          </table>
          <hr />
          <h6>CSV dosyası ile ders ekleyin</h6>
          <%= file_field_tag :file%>
          <%= f.submit class: "btn" %>
        <% end %>
      </div>
    </div>
    <%= form_for([@odeme_program, @odeme_program.aprograms.build], multipart: true) do |f| %>
          <table class="table table-striped">
            <tr>
              <td>
              <%= select_year Date.today, :start_year => Time.now.year, :end_year => 2023, :field_name => :donem, :prefix => :profile %>
              </td>
              <td>
                <%= f.text_field :katsayi, placeholder:"Kredi" %>
              </td>
            </tr>
          </table>
          <%= f.submit class: "btn" %>
    <% end %>
  </div>
</div>

<%= link_to 'Geri Dön', odeme_programs_path %>
