<% content_for :menu do %>
  <ul class="nav nav-list extramenu">
    <li class="nav-header">İşlemler</li>
    <li>Ders</li>
    <li><%= link_to "Akademisyen", odeme_akademists_path %></li>
    <li><%= link_to "Program", odeme_programs_path %></li>
    <li class="divider"></li>
    <li><%= link_to "Açılan Program", odeme_aprograms_path  %></li>
    <li><%= link_to "Açılan Ders", odeme_programs_path %></li>
  </ul>
<% end %>


<% if @aprograms %>
  <h4>Açık Programlar</h4>
  <table class="table table-striped">
    <tr>
      <th>ID</th>
      <th>Program İsmi</th>
      <th>Dönem</th>
      <th>Katsayi</th>
    </tr>
    <% @aprograms.each_with_index do |f,i| %>
      <tr>
        <td><%= i+1 %></td>
        <td><%= @odeme_program[f.program_id].ad %></td>
        <td><%= f.donem %></td>
        <td><%= f.katsayi %></td>
      </tr>
    <% end %>
  </table>
<% end %>
<% @unvan = { 1 =>'Okutman', 2 =>'Uzman', 3 => 'Araş. Gör.', 4 => 'Öğr. Gör.', 5 => 'Öğr. Gör. Dr.', 6 => 'Yrd. Doç. Dr.', 7 => 'Doç. Dr.', 8 => "Prof. Dr."} %>

<% if @akademist %>
  <h4>Akademisyen</h4>
  <table class="table table-striped">
    <tr>
      <th>Ad</th>
      <th>Soyad</th>
      <th>Ünvan</th>
      <th>Ödenecek Para</th>
    </tr>
    <% @akademist.each do |a| %>
      <tr>
        <td><%= a.ad %></td>
        <td><%= a.soyad %></td>
        <td><%= @unvan[a.unvan.to_i] %></td>
        <% @katsayi = a.unvan.to_i * Lecture.find(a.lecture_id).kredi.to_i %>
        <td><%= @katsayi*100 %>TL</td>
      </tr>
    <% end %>
  </table>
<% end %>
