<%= form_for(@koordinator) do |f| %>
  <% if @koordinator.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@koordinator.errors.count, "error") %> prohibited this koordinator from being saved:</h2>

      <ul>
      <% @koordinator.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :uzem %><br />
    <%= f.text_field :uzem %>
  </div>
  <div class="field">
    <%= f.label :akademik %><br />
    <%= f.text_field :akademik %>
  </div>
  <div class="field">
    <%= f.label :enstitu %><br />
    <%= f.text_field :enstitu %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
