<%= form_for(@haftum) do |f| %>
  <% if @haftum.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@haftum.errors.count, "error") %> prohibited this haftum from being saved:</h2>

      <ul>
      <% @haftum.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :tarih %><br />
    <%= f.date_select :tarih %>
  </div>
  <div class="field">
    <%= f.label :durum %><br />
    <%= f.check_box :durum %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
