<h1>Listing hafta</h1>

<table>
  <tr>
    <th>Tarih</th>
    <th>Durum</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @hafta.each do |haftum| %>
  <tr>
    <td><%= haftum.tarih %></td>
    <td><%= haftum.durum %></td>
    <td><%= link_to 'Show', haftum %></td>
    <td><%= link_to 'Edit', edit_haftum_path(haftum) %></td>
    <td><%= link_to 'Destroy', haftum, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Haftum', new_haftum_path %>
